body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(54 53 67); 
    color: white;
    font-family: 'Roboto Mono', monospace;
}
.bg{
    width: 325px;
    height: 325px;
    background-color: rgb(41 41 43);
    box-sizing: border-box;
    border-radius: 360%;
    position: fixed;
    display: inline-block;
    margin-left: 510px;
    margin-top: -15px;
    z-index: -1;
}

body::before{
    content: "";
    background: url(profile.png) no-repeat center center/cover;
    width: 215px;
    height: 350px;
    position: fixed;
    top: 71px;
    left: 558px;
    z-index: 2;
    opacity: 1;
}
.navbar{
    display: flex;

}
.nav{
    display: flex;
}
.nav li{
    list-style: none;
    margin: 5px 20px;
    padding: 10px 15px;
    
}
.nav li a{
    text-decoration: none;
    color: white;
}
.nav li a.active,
.nav li a:hover {
            text-decoration: none;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            transition-duration: 0.5s;
        }
.mid{
    margin: 0 200px;
}
.right{
    display: flex;
    position: absolute;
    right: 20px;
    top: 5px;
    
}
.right img{
    padding: 10px;
    width: 25px;
    height: 25px;
}
.left{
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin:32px 116px;
    position:absolute  
}
.half2{
     background-color: rgb(41 41 43) ;
     height: 45%;
     position: absolute;
     width: 100%;
    bottom: 0px;
}
.container{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    height: 400px;
    position: absolute;
    margin-left: 120px;
    margin-top: 15px;
}
.box{
    color: #fff;
    justify-content: space-between;

    z-index: 1;
}
.box1{
    font-size: 40px;
}
.box2{
    font-size: 50px;
    font-weight: bold;
}
.box3{
    width: 200px;
    height: 10px;
    border-radius: 15px;
    background-color: rgb(238, 144, 4);
    margin: 10px 0px;
}
.box4{
    font-size: 15px;
    width: 300px;
    margin: 15px 0px;
}
.container_left{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    height: 400px;
    position: absolute;
    margin-left: 795px;
    margin-top: 0px;
}
.box1_left{
    font-size: 20px;
}
.box2_left{
    font-size: 15px;
    width: 250px;
}
.box3_left a{
    color:  rgb(238, 144, 4);
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}
.box4_left{
    display: flex;
    width: 200px;
}
.logo img{
    width: 25px;
    height: 25px;
    justify-content: space-around;
    width: 20px;
    margin: 15px 0px;
}
.social{
    background-color: rgb(64 64 85);
    width: 80%;
    height: 95px;
    margin-top: 300px;
    margin-left: 10%;
    position: absolute;
    display: flex;
    z-index: 3;
    justify-content: space-around;
}
.media{
    width: 20%;
    height: 65px;
    background-color:rgb(41 41 43);
    /* border: 2px solid; */
    margin: auto;
}
.media img{
    width: 90px;
    margin-left: 25%;
    padding: 10px;
    height: 35px;
}