body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(54 53 67); 
    color: white;
    font-family: 'Roboto Mono', monospace;
}
.b{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bg{
    width: 330px;
    height: 330px;
    background-color: rgb(41 41 43);
    box-sizing: border-box;
    border-radius: 360%;
    position: absolute;
    display: inline-block;
    z-index: -1;
}

body::before{
    content: "";
    background: url(profile.png) no-repeat center center/cover;
    width: 250px;
    height: 350px;
    position: absolute;
    top: 70px;
    left: 40%;
    z-index: 2;
    opacity: 1;
}
.navbar{
    display: flex;

}
.nav{
    display: flex;
}
.nav li{
    list-style: none;
    margin: 5px 10px;
    padding: 0px 14px
    
}
.nav li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.nav li a.active,
.nav li a:hover {
            text-decoration: none;
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
            transition-duration: 0.5s;
        }
.mid{
    margin: 0 200px;
}
.right{
    display: flex;
    position: absolute;
    right: 20px;
    top: 7px;
    margin: 10px;
    padding: 5px;
    
}
.right:hover{
    cursor: pointer;
}
.right img{
    padding: 0px 10px;
    width: 25px;
    height: 25px;
}
.left{
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin:22px 10%;
    position:absolute  
}
.half2{
     background-color: rgb(41 41 43) ;
     height: 130%;
     position: absolute;
     width: 100%;
    top: 450px;
}
.container{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    height: 400px;
    position: absolute;
    margin-left: 10%;
    margin-top: 3px;
}
.box{
    color: #fff;
    justify-content: space-between;

    z-index: 1;
}
.box1{
    font-size: 40px;
}
.box2{
    font-size: 52px;
    font-weight: bold;
}
.box3{
    width: 200px;
    height: 5px;
    border-radius: 15px;
    background-color: rgb(238, 144, 4);
    margin: 10px 0px;
}
.box4{
    font-size: 15px;
    width: 300px;
    /* margin: 15px 0px; */
}
.container_left{
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    height: 400px;
    position: absolute;
    margin-left: 57%;
    margin-top: 16px;
}
.box1_left{
    font-size: 14px;
    margin: 5px 0px;
}
.box2_left{
    font-size: 14px;
    width: 250px;
    margin: 10px 0px;
}
.box3_left a{
    color:  rgb(238, 144, 4);
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}
.box3_left img{
    margin: 3px;
    position: absolute;
    width: 20px;
}
.box4_left{
    display: flex;
    width: 200px;
}
.logo img{
    width: 25px;
    height: 25px;
    justify-content: space-around;
    width: 20px;
    margin: 20px 0px;
}
.social{
    background-color: rgb(64 64 85);
    width: 80%;
    box-shadow: 0px 0px 5px black;

    height: 75px;
    margin-top: 330px;
    margin-left: 10%;
    position: absolute;
    display: flex;
    z-index: 3;
    justify-content: space-around;
}
.media{
    width: 20%;
    height: 50px;
    background-color:rgb(41 41 43);
    /* border: 2px solid; */
    margin: auto;
}
.media img{
    width: 80px;
    margin-left: 25%;
    padding: 10px;
    height: 30px;
}
.bottom_left{
    display: flex;
    width: 40%;   
    flex-direction: column;
    margin-top: 450px;
    margin-left: 10%;
    position: absolute;
    z-index: 1;
    font-size: 7px;
    /* border: 1px solid white; */
    height: 70%;
    justify-content: space-between;
}
.usp{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-left: -12px;
}
.needs{
    font-size: 40px;
    font-weight: bold;
    width: 450px;
}
.dis{
    font-size: 18px;
    width: 450px;
    margin: 10px 0px;
}
.num{
    font-size: 40px;
    color: rgb(238, 144, 4);

}
.quality{
    font-size: 10px;
}
.un{
    margin: 10px;
}
.un4{
    padding-left: 15px;
}
.bi{
    position: absolute;
    top: 520px;
    right: 500px;
    z-index: 1;
}
.bi img{
    width: 160px;
    height: 100px;
margin: 20px 0px;
}
.skill{
    position: absolute;
    top: 500px;
    right: 200px;
    z-index: 1;
}
.sf{
    font-size: 25px;
}
.ss{
    margin: 80px 0px;
}
.project{
    font-size: 12px;
}
.ptn{
    width: 500px;
    border-top: 0.5px solid white;
    border-radius: 1px;
    margin: 133px;
    

}
.pt{
    margin-top: 475px;
    margin-left: 555px;
    position: absolute;
    z-index: 1;
}
.arr{
    position: absolute;
    z-index: 1;
    right: 35px;
    top: 500px;
}
.arrow{
    margin: 100px;
    width: 50px;
}
.c2{
    height: 100px;
    margin-top: 100px;
    width: 80%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    top: 1000px;
}
.bb{
    height: 250px;
    width: 30%;
    box-sizing: border-box;
    background-color: rgb(54 53 67) ;
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
}
.icon img{
    width: 40px;
}
.icon{
    margin: auto;
    padding: 10px;
}
.circle{
    width: 60px;
    height: 60px;
    background-color: rgb(41 41 43) ;
    border-radius: 360%;
}
.bb{
    margin:10px;
    padding: 5px;
}